/public/mix-manifest.json
/public/hot
/public/storage
/public/converage
/public/Policies
/public/coverage
/.idea
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
